/* line 3, ../sass/transitions/_compress.scss */
.compress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_compress.scss */
.compress .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: 35%;
  opacity: 0;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity transform;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 20, ../sass/transitions/_compress.scss */
.compress .message.prev-one {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
/* line 25, ../sass/transitions/_compress.scss */
.compress .message.next-one {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
/* line 30, ../sass/transitions/_compress.scss */
.compress .message.focus {
  opacity: 1;
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 3, ../sass/transitions/_fade.scss */
.fade-in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_fade.scss */
.fade-in .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: 35%;
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 19, ../sass/transitions/_fade.scss */
.fade-in .message.focus {
  opacity: 1;
}

@-moz-keyframes lightSpeedIn {
  0% {
    -moz-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -moz-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  80% {
    -moz-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    -moz-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -moz-transform: translateX(-20%) skewX(30deg);
    -ms-transform: translateX(-20%) skewX(30deg);
    -webkit-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  80% {
    -moz-transform: translateX(0%) skewX(-15deg);
    -ms-transform: translateX(0%) skewX(-15deg);
    -webkit-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(0%) skewX(0deg);
    -ms-transform: translateX(0%) skewX(0deg);
    -webkit-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@-moz-keyframes lightSpeedOut {
  0% {
    -moz-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}
@-webkit-keyframes lightSpeedOut {
  0% {
    -webkit-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}
@keyframes lightSpeedOut {
  0% {
    -moz-transform: translateX(0%) skewX(0deg);
    -ms-transform: translateX(0%) skewX(0deg);
    -webkit-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}
/* line 6, ../sass/transitions/_lightspeed.scss */
.lightspeed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 14, ../sass/transitions/_lightspeed.scss */
.lightspeed .message {
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 0;
  position: absolute;
  top: 35%;
}
/* line 20, ../sass/transitions/_lightspeed.scss */
.lightspeed .message.focus {
  -moz-animation: lightSpeedIn 0.75s 1;
  -webkit-animation: lightSpeedIn 0.75s 1;
  animation: lightSpeedIn 0.75s 1;
  opacity: 1;
}
/* line 25, ../sass/transitions/_lightspeed.scss */
.lightspeed .message.prev-one {
  -moz-animation: lightSpeedOut 0.75s 1;
  -webkit-animation: lightSpeedOut 0.75s 1;
  animation: lightSpeedOut 0.75s 1;
}

@-moz-keyframes hinge {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
    -moz-transform-origin: top left;
    transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -moz-transform: rotate(80deg);
    transform: rotate(80deg);
    -moz-transform-origin: top left;
    transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40% {
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
    -moz-transform-origin: top left;
    transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  80% {
    -moz-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    -moz-transform-origin: top left;
    transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100% {
    -moz-transform: translateY(700px);
    transform: translateY(700px);
    opacity: 0;
  }
}
@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
    transform: translateY(700px);
    opacity: 0;
  }
}
@keyframes hinge {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40% {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  80% {
    -moz-transform: rotate(60deg) translateY(0);
    -ms-transform: rotate(60deg) translateY(0);
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100% {
    -moz-transform: translateY(700px);
    -ms-transform: translateY(700px);
    -webkit-transform: translateY(700px);
    transform: translateY(700px);
    opacity: 0;
  }
}
/* line 6, ../sass/transitions/_hinge.scss */
.hinge {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 14, ../sass/transitions/_hinge.scss */
.hinge .message {
  -webkit-transform: translate3d(0, 0, 0);
  display: none;
  z-index: 0;
  position: absolute;
  top: 35%;
  opacity: 1;
  min-height: 14em;
}
/* line 23, ../sass/transitions/_hinge.scss */
.hinge .message.focus {
  display: block;
  z-index: 2;
}
/* line 28, ../sass/transitions/_hinge.scss */
.hinge .message.next-one {
  display: block;
  z-index: 1;
}
/* line 33, ../sass/transitions/_hinge.scss */
.hinge .message.prev-one {
  display: block;
  z-index: 3;
  -moz-animation: hinge 2s 1;
  -webkit-animation: hinge 2s 1;
  animation: hinge 2s 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 3, ../sass/transitions/_scroll.scss */
.scroll-up {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_scroll.scss */
.scroll-up .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: -10%;
  opacity: 0;
  z-index: 0;
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  -webkit-transition-property: top, opacity;
  transition-property: top opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 21, ../sass/transitions/_scroll.scss */
.scroll-up .message.next {
  top: 100%;
}
/* line 25, ../sass/transitions/_scroll.scss */
.scroll-up .message.prev-one {
  top: 10%;
  opacity: .3;
  z-index: 1;
}
/* line 31, ../sass/transitions/_scroll.scss */
.scroll-up .message.focus {
  top: 40%;
  opacity: 1;
  z-index: 3;
}
/* line 37, ../sass/transitions/_scroll.scss */
.scroll-up .message.next-one {
  top: 70%;
  opacity: .3;
  z-index: 2;
}

/* line 45, ../sass/transitions/_scroll.scss */
.scroll-down {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 53, ../sass/transitions/_scroll.scss */
.scroll-down .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: 100%;
  opacity: 0;
  z-index: 0;
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  -webkit-transition-property: top, opacity;
  transition-property: top opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 63, ../sass/transitions/_scroll.scss */
.scroll-down .message.next {
  top: -10%;
}
/* line 67, ../sass/transitions/_scroll.scss */
.scroll-down .message.prev-one {
  top: 70%;
  opacity: .3;
  z-index: 1;
}
/* line 73, ../sass/transitions/_scroll.scss */
.scroll-down .message.focus {
  top: 40%;
  opacity: 1;
  z-index: 3;
}
/* line 79, ../sass/transitions/_scroll.scss */
.scroll-down .message.next-one {
  top: 10%;
  opacity: .3;
  z-index: 2;
}

/* line 3, ../sass/transitions/_slide.scss */
.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_slide.scss */
.slide .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: 35%;
  opacity: 0;
  -moz-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  -webkit-transition-property: left, opacity;
  transition-property: left opacity;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
/* line 19, ../sass/transitions/_slide.scss */
.slide .message.prev-one {
  left: 25%;
}
/* line 23, ../sass/transitions/_slide.scss */
.slide .message.focus {
  left: 0;
  opacity: 1;
}
/* line 28, ../sass/transitions/_slide.scss */
.slide .message.next-one {
  left: -25%;
}

/* line 3, ../sass/transitions/_tilt.scss */
.tilt-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_tilt.scss */
.tilt-scroll .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  opacity: 0;
  -moz-transition-property: top, opacity, -moz-transform;
  -o-transition-property: top, opacity, -o-transform;
  -webkit-transition-property: top, opacity, -webkit-transform;
  transition-property: top opacity transform;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 20, ../sass/transitions/_tilt.scss */
.tilt-scroll .message.prev {
  top: -20%;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 25, ../sass/transitions/_tilt.scss */
.tilt-scroll .message.next {
  top: 100%;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}
/* line 30, ../sass/transitions/_tilt.scss */
.tilt-scroll .message.prev-one {
  top: 10%;
  opacity: .3;
  z-index: 1;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 37, ../sass/transitions/_tilt.scss */
.tilt-scroll .message.focus {
  top: 40%;
  opacity: 1;
  z-index: 3;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 44, ../sass/transitions/_tilt.scss */
.tilt-scroll .message.next-one {
  top: 70%;
  opacity: .3;
  z-index: 2;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 3, ../sass/transitions/_vertigo.scss */
.vertigo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_vertigo.scss */
.vertigo .message {
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 0;
  position: absolute;
  top: 35%;
  opacity: 0;
  -moz-transform: scale(10) rotate(-720deg);
  -ms-transform: scale(10) rotate(-720deg);
  -webkit-transform: scale(10) rotate(-720deg);
  transform: scale(10) rotate(-720deg);
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 21, ../sass/transitions/_vertigo.scss */
.vertigo .message.focus {
  z-index: 2;
  opacity: 1;
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 28, ../sass/transitions/_vertigo.scss */
.vertigo .message.prev-one {
  z-index: 1;
  -moz-transform: scale(0) rotate(720deg);
  -ms-transform: scale(0) rotate(720deg);
  -webkit-transform: scale(0) rotate(720deg);
  transform: scale(0) rotate(720deg);
}

/* line 3, ../sass/transitions/_zoom.scss */
.zoom-in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_zoom.scss */
.zoom-in .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: 35%;
  opacity: 0;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity transform;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 20, ../sass/transitions/_zoom.scss */
.zoom-in .message.focus {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 25, ../sass/transitions/_zoom.scss */
.zoom-in .message.prev-one {
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  -webkit-transform: scale(100);
  transform: scale(100);
  opacity: 0;
}

/* line 3, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: 100%;
  opacity: 0;
  z-index: 0;
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  -webkit-transition-property: top, opacity;
  transition-property: top opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 21, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down .message:nth-child(4n+1) {
  left: 0%;
}
/* line 24, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down .message:nth-child(4n+2) {
  left: 25%;
}
/* line 27, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down .message:nth-child(4n+3) {
  left: 50%;
}
/* line 30, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down .message:nth-child(4n+4) {
  left: 75%;
}
/* line 34, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down .message.prev-group {
  top: 10%;
  opacity: .3;
  z-index: 1;
}
/* line 40, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down .message.focus-group {
  top: 40%;
  opacity: 1;
  z-index: 3;
}
/* line 46, ../sass/transitions/_grid-scroll-down.scss */
.grid-scroll-down .message.next-group {
  top: 70%;
  opacity: .3;
  z-index: 2;
}

/* line 3, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: 100%;
  opacity: 0;
  z-index: 0;
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  -webkit-transition-property: top, opacity;
  transition-property: top opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 21, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .message:nth-child(4n+1) {
  left: 0%;
}
/* line 24, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .message:nth-child(4n+2) {
  left: 25%;
}
/* line 27, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .message:nth-child(4n+3) {
  left: 50%;
}
/* line 30, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .message:nth-child(4n+4) {
  left: 75%;
}
/* line 34, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .message.prev-group {
  top: 0;
  opacity: 1;
  z-index: 1;
}
/* line 40, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .message.focus-group {
  top: 230px;
  opacity: 1;
  z-index: 2;
}
/* line 46, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .message.next-group {
  top: 460px;
  opacity: 1;
  z-index: 3;
}
/* line 57, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .well {
  height: 220px;
  border: 1px solid #86734C;
}
/* line 62, ../sass/transitions/_grid-scroll-up.scss */
.grid-scroll-up .lead {
  font-size: 130%;
}

/* line 3, ../sass/transitions/_grid-scroll-left.scss */
.grid-scroll-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 11, ../sass/transitions/_grid-scroll-left.scss */
.grid-scroll-left .message {
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  top: 100%;
  opacity: 0;
  z-index: 0;
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  -webkit-transition-property: top, opacity;
  transition-property: top opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 21, ../sass/transitions/_grid-scroll-left.scss */
.grid-scroll-left .message.next-group {
  top: -10%;
}
/* line 25, ../sass/transitions/_grid-scroll-left.scss */
.grid-scroll-left .message.prev-group {
  top: 70%;
  opacity: .3;
  z-index: 1;
}
/* line 31, ../sass/transitions/_grid-scroll-left.scss */
.grid-scroll-left .message.focus-group {
  top: 40%;
  opacity: 1;
  z-index: 3;
}
/* line 37, ../sass/transitions/_grid-scroll-left.scss */
.grid-scroll-left .message.next-group {
  top: 10%;
  opacity: .3;
  z-index: 2;
}
