@import "walle/fade";
@import "walle/compress";
@import "walle/hinge";
@import "walle/slide";
@import "walle/scroll";

$font: 'Source Sans Pro';


.walle{
    .row {
      margin: 0 !important;
      width: 100%;
    }
    .right {
      float: right !important;
      display: block;
    }
    .left {
      float: left !important;
      display: block;
    }
    .no-background,
    .container {
      background: none !important;
    }
    img {
      pointer-events: none !important;
    }
    .clear {
      clear: both;
      display: block;
    }
    a {
      text-decoration: none !important;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    .full-image img {
      width: 100% !important;
      display: block !important;
      height: auto !important;
    }
    .no-padding {
      padding: 0 !important;
    }
    .center img {
      display: block;
      margin: 10px auto;
    }
}

    ul.walle li #profile-photo img {
        width: 160px;
        height: 160px;
        background: #0d0f6b;
        border-radius: 50%;
        padding: 10px;
        overflow: hidden;
        position: relative;
        border: 1px solid #ffcc00;
    }
    ul.walle li #profile-details {
        background-color: #0d0f6b;
        margin-left: -30px;
        margin-top: 31px;
        border-top-right-radius: 80px !important;
        border-radius: 10px;
        border: 1px solid #ffcc00;
        height: 100px;
        width: 400px;
        padding-top: 14px;
        padding-left: 50px;
    }
    ul.walle li #profile-details h1 {
        font-size: 40px;
        font-family: 'Source Sans Pro';
        color: white;
        font-weight: 300;
    }
    ul.walle li #profile-details a {
        font-size: 25px;
        color: white;
        font-family: 'Source Sans Pro';
        font-weight: 600;
    }
    ul.walle li #tweet {
        overflow:hidden;
        height: 150px;
        background: rgba(13, 15, 107, 0.7);
        border: 2px solid #ffcc00;
        border-top-right-radius: 150px !important;
        border-radius: 10px;
        position: fixed;
        bottom: 80px;
        width: 87%;
    }
    ul.walle li #tweet time {
        color: #ffcc00;
        width: 180px;
        position: relative;
        overflow: hidden;
    }
    ul.walle li #tweet time:after {
        position: absolute;
        right: 0;
        top: 0;
        height: 150px;
        line-height: 150px;
        width: 15px;
        content: "\f105";
        color: #fff;
        font-family: fontawesome;
        font-size: 44px;
    }
    ul.walle li #tweet time i {
        display: block;
        font-size: 65px;
        text-align: center;
        padding: 28px 0 5px 0;
    }
    ul.walle li #tweet time span {
        text-align: center;
        font-weight: 300;
        font-size: 25px;
        font-family: 'Source Sans Pro';
        display: block;
    }
    ul.walle li #tweet p {
        width: 75%;
        color: white;
        font-family: 'Source Sans Pro';
        font-size: 39px;
        letter-spacing: -1px;
        font-weight: 300;
        padding-top: 40px;
        padding-left: 40px;
    }
    ul.walle li #tweet p a {
        color: #ffcc00;
    }

    ul.walle li #profile-details h1 {
        font-size: 36px !important;
        letter-spacing: -2px !important;
    }
    ul.walle li #profile-details a {
        font-size: 22px !important;
        letter-spacing: -1px !important;
    }
    ul.walle li #profile-details {
        padding-top: 0px !important;
        letter-spacing: -2px !important;
    }
    ul.walle li #tweet p {
        font-size: 32px !important;
        padding-top: 10px;
        letter-spacing: 0px !important;

    }
    ul.walle li #tweet time span {
        font-size: 22px !important;
        letter-spacing: -2px !important;
    }
    .screen_name {
      margin-top: 15px !important;
      margin-bottom: 10px;
    }
